body{
    margin: 0%;
    padding: 0%;
    background-color:rgba(0,0,0,938);
}
.navbar{
    background-color:#D7DBDD;
    position: relative;
    z-index: 4;
}
.nav-link{
    font-size:14px;
}
.form2{
   position: relative;
   right: 50px;
   width: 25px;
}
main{
    position: absolute;
    top: 0;
    z-index: 0;
}
.carousel-control-prev,.carousel-control-next{
    width:4%;

}
.site-wrapper{ height:900px;

}
.parallax{
    background-image: url("12.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    height:500px ;
}
.wrapper{
    text-align: center;
 padding: 10px;
}
.col-md{
    padding-left: 500px;
}
@media only screen and(max-device-width:320 px){
    .site-wrapper{
        height:200px;
    }
    .col-md-4
    { margin: 5% 0%;

    }
    .carousel-control-next .carousel-control-prev
    {
        display: none;
    }
}
